$o-gray-100: #fafafa !default;
$o-gray-200: #ededed !default;
$o-gray-300: #dedede !default;
$o-gray-400: #b8b8b8 !default;
$o-gray-500: #787878 !default;
$o-gray-600: #606060 !default;
$o-gray-700: #484848 !default;
$o-gray-800: #2a2a2a !default;
$o-gray-900: #222222 !default;