$o-gray-100: #f1f5f9 !default;
$o-gray-200: #e2e8f0 !default;
$o-gray-300: #cbd5e1 !default;
$o-gray-400: #94a3b8 !default;
$o-gray-500: #64748b !default;
$o-gray-600: #475569 !default;
$o-gray-700: #334155 !default;
$o-gray-800: #1e293b !default;
$o-gray-900: #0f172a !default;