.u_column_manager .modal-body {
    display: flex;
    padding-right: 0;

    .o_left_field_panel,
    .o_right_field_panel {
        user-select: none;

        .o_cman_tree_item {
            &:hover {
                background: rgba(var(--info-rgb), .1);
            }
        }

        .o_cman_field_sortable>*:not(.btn) {
            cursor: url(/web/static/img/openhand.cur), grab;
        }

        .o_opt_field {
            padding-block: .5em;
        }
    }
}

.u_column_attrs {
    .o_select_menu_toggler {
        padding-block: 4px;
        padding-right: 0;
    }
}