$o-gray-100: #f5f5f5 !default;
$o-gray-200: #e5e5e5 !default;
$o-gray-300: #d4d4d4 !default;
$o-gray-400: #a3a3a3 !default;
$o-gray-500: #737373 !default;
$o-gray-600: #525252 !default;
$o-gray-700: #404040 !default;
$o-gray-800: #262626 !default;
$o-gray-900: #171717 !default;