// UI custom colors for tags, kanban records' colors, ...)
$o-colors:
    $u-kolor-0,
    $u-kolor-1,
    $u-kolor-2,
    $u-kolor-3,
    $u-kolor-4,
    $u-kolor-5,
    $u-kolor-6,
    $u-kolor-7,
    $u-kolor-8,
    $u-kolor-9,
    $u-kolor-10,
    $u-kolor-11 !default;

// Needed for having no spacing between sheet and mail body in mass_mailing:
// Different required cancel paddings between web and omux
$o-sheet-cancel-tpadding: $o-horizontal-padding !default;
$o-sheet-cancel-bpadding: $o-horizontal-padding + $o-sheet-vpadding !default;