$o-colors-original:
    $u-kolor-0,
    $u-kolor-1,
    $u-kolor-2,
    $u-kolor-3,
    $u-kolor-4,
    $u-kolor-5,
    $u-kolor-6,
    $u-kolor-7,
    $u-kolor-8,
    $u-kolor-9,
    $u-kolor-10,
    $u-kolor-11 !default;

$o-colors-secondary-original: #aa4b6b, #30C381, #97743a, #F7CD1F, #4285F4, #8E24AA,
    #d34345, #173e43, #348F50, #AA3A38, #795548, #5e0231,
    #6be585, #999966, #e9d362, #b56969, #bdc3c7, #649173 !default;

$o-colors: ()!default;
$o-colors-secondary: ()!default;

@each $-color in $o-colors-original {
    $-adjusted: saturate(mix($-color, $o-black, 50%), 60%);
    $o-colors: append($o-colors, $-adjusted);
}

@each $-color in $o-colors-secondary-original {
    $-adjusted: saturate(mix($-color, $o-black, 50%), 80%);
    $o-colors-secondary: append($o-colors-secondary, $-adjusted);
}
