$o-gray-100: #f4f4f5 !default;
$o-gray-200: #e4e4e7 !default;
$o-gray-300: #d4d4d8 !default;
$o-gray-400: #a1a1aa !default;
$o-gray-500: #71717a !default;
$o-gray-600: #52525b !default;
$o-gray-700: #3f3f46 !default;
$o-gray-800: #27272a !default;
$o-gray-900: #18181b !default;