$o-gray-900: #f4f4f5 !default;
$o-gray-800: #e4e4e7 !default;
$o-gray-700: #d4d4d8 !default;
$o-gray-600: #a1a1aa !default;
$o-gray-500: #71717a !default;
$o-gray-400: #52525b !default;
$o-gray-300: #3f3f46 !default;
$o-gray-200: #27272a !default;
$o-gray-100: #1e1e22 !default;