$o-gray-900: #f7f9f8 !default;
$o-gray-800: #e6e9e8 !default;
$o-gray-700: #d7dad9 !default;
$o-gray-600: #b8bcba !default;
$o-gray-500: #7c8481 !default;
$o-gray-400: #555f5c !default;
$o-gray-300: #444947 !default;
$o-gray-200: #272a29 !default;
$o-gray-100: #202221 !default;