$o-gray-900: #f3f4f6 !default;
$o-gray-800: #e5e7eb !default;
$o-gray-700: #d1d5db !default;
$o-gray-600: #9ca3af !default;
$o-gray-500: #6b7280 !default;
$o-gray-400: #4b5563 !default;
$o-gray-300: #374151 !default;
$o-gray-200: #1f2937 !default;
$o-gray-100: #111827 !default;