$o-gray-100: #faf9fb !default;
$o-gray-200: #eae7ec !default;
$o-gray-300: #dbd8e0 !default;
$o-gray-400: #bcbac7 !default;
$o-gray-500: #7c7a85 !default;
$o-gray-600: #625f69 !default;
$o-gray-700: #49474e !default;
$o-gray-800: #2b292d !default;
$o-gray-900: #232225 !default;