$o-gray-900: #faf9fb !default;
$o-gray-800: #eae7ec !default;
$o-gray-700: #dbd8e0 !default;
$o-gray-600: #bcbac7 !default;
$o-gray-500: #7c7a85 !default;
$o-gray-400: #625f69 !default;
$o-gray-300: #49474e !default;
$o-gray-200: #2b292d !default;
$o-gray-100: #232225 !default;