//
// Base
//

$border-color: $o-border-color !default;

// == Forms

$form-check-input-checked-color: $o-black !default;

// == Buttons

$btn-close-color: #dfe6ec !default;

// Forms

$input-focus-bg: #15171C !default;

// == Dropdowns

$dropdown-border-color: $border-color !default;

// == Navs

$nav-tabs-border-color: #1f212a !default;

// == Popovers

$popover-bg: #15171C !default;
$popover-border-color: $border-color !default;

//
// Basic Bootstrap table
//

$table-border-color: $border-color !default;