$o-gray-100: #f9f9f9 !default;
$o-gray-200: #ebebef !default;
$o-gray-300: #dbdfe9 !default;
$o-gray-400: #c4cada !default;
$o-gray-500: #99a1b7 !default;
$o-gray-600: #78829d !default;
$o-gray-700: #4a5573 !default;
$o-gray-800: #252f4a !default;
$o-gray-900: #071437 !default;

$o-community-color: #3a7ecc !default;
$o-enterprise-color: #3a7ecc !default;

$o-action: #3a7ecc !default;
$o-info: #8b66da !default;
$o-warning: #ffc700 !default;

// = Omux
// ============================================================================

$u-menuitem-hover: #2d3c5f !default;
$u-menuitem-hover-bg: #F3F6F9 !default;