// = Omux
// ============================================================================

$u-sidenav-app-icon-shadow: -4px -4px 15px $o-view-background-color, 2px 2px 1px $o-gray-300 !default;

$u-app-icon-shadow: -4px -4px 15px $o-view-background-color, 2px 2px 1px $o-gray-200 !default;
$u-app-icon-shadow-hover: -5px -5px 0 $o-webclient-background-color, 4px 4px 0 $o-gray-200 !default;
